* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
      background-color: #f2f2f2;
      color: #333;
    }

    nav {
      background-color: #2C3E50;
      padding: 20px;
      text-align: center;
      color: white;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    nav h1 {
      font-size: 1.8em;
    }

    main {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 20px;
    }

    .content {
      background-color: #ffffff;
      padding: 30px 40px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      max-width: 700px;
      width: 100%;
      margin: 20px;
    }

    .content h4 {
      font-size: 1.1em;
      color: #2C3E50;
      margin-bottom: 6px;
    }

    .content p {
      font-size: 1em;
      margin-bottom: 20px;
      color: #555;
    }

    table {
    margin: 0 auto; /* Centra horizontalmente */
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    }

    th, td {
    padding: 10px 50px;
    border: 1px solid black;
    text-align: center;
    }